@media (width <=480px) {
  .mobile-ticket-navigator {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 9.744vw;
  }
  .mobile-ticket-navigator ul {
   
    width: 80%;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    list-style-type: none;
    border: none;
    border-radius: 28px;
  }
  .mobile-ticket-navigator ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2.821vw;
  }
  .mobile-ticket-navigator ul li a.active-link-p2p{
    color: #BCFF2F;
  }
  .mobile-ticket-navigator ul li a[disabled]{
    pointer-events: none;
    color: grey;
  }
}
