@media (width <= 480px){
    .auth-button{
        width: 100%;
        height: auto;
        padding: 3.846vw 0 3.846vw 0;
        background-color: black;
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 4.615vw;
    }
}