@media (width <= 480px) {
  .mobile-event-container {
    display: flex;
    justify-content: center;
    margin-top: 6.154vw;
    margin-bottom: 120px;
  }
  .mobile-events {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5.897vw;
  }
  .mobile-event {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .mobile-event-header-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .mobile-event-content {
    margin: 4.103vw;
  }
  .mobile-event-content h2 {
    font-size: 3.59vw;
  }
  .mobile-event-content h1 {
    font-size: 6.667vw;
  }
  .mobile-event-content address {
    font-size: 4.103vw;
    color: #6a6a6a;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
    letter-spacing: -0.408px;
  }
  .mobile-event-content div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-event-content time{
    font-size: 4.103vw;
    color: #6a6a6a;
    font-style: normal;
    font-weight: 400;
    line-height: 137.5%;
    letter-spacing: -0.408px;
  }
  .mobile-event-content a{
    background-color: black;
    padding: 6px 36px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
}
