@media (width <= 480px) {
  .wallet-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8.205vw 6.923vw;
    list-style-type: none;
  }
  .wallet-header-content li h1 {
    font-size: 5.128vw;
    letter-spacing: -0.408px;
  }
  .wallet-header-content li img {
    border-radius: 50%;
  }
  .wallet-bottom-content {
    display: flex;
    justify-content: space-between;
   
    
  }
  .wallet-bottom-content a {
    padding: 0 12.821vw;
    padding-bottom: 3.077vw;
    width: 100%;
    font-size: 4.615vw;
    font-weight: 600;
    color: #818181;
    text-decoration: none;
    border-bottom: 2px solid #818181;
  }
  .wallet-bottom-content a.active{
    color: black;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
}
