@media (width <= 480px) {
  .register-header {
    margin: 8vw 6.923vw 0 6.923vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.103vw;
  }

  .register-header a {
    margin-right: auto;
    text-decoration: none;
  }

  .register-header h1 {
    margin-right: auto;
    font-size: max(20px, 5.128vw);
  }
  .register-hr{
    margin-top: 4.615vw;
    margin-bottom: 5.641vw;
    border-color: #D9D9D9;
  }
  .register-content {
    height: 100vh;
    padding: 0 4.103vw 0vw 4.103vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-info {
    margin-bottom: 8.205vw;
    font-size: 4.103vw;
  }
  .register-form{
    display: flex;
    flex-direction: column;
    gap: 6.41vw;
  }
  .register-form input {
    padding: 0 7.179vw;
    height: 12.821vw;
    border: none;
    border-radius: 20px;
    background: #d9d9d9;
    font-size: 4.103vw;
  }
  .register-form input::placeholder {
    color: black;
    font-size: 4.103vw;
  }
  .register-end-content{
    margin-bottom: 40%;
  }
}
